@media (max-width: 820px) {
  section#move #infoList {
    flex-flow: column;
  }
  section#move #infoList ul {
    width: 100%;
  }
}
@media (max-width: 500px) {
  section#drop,
  section#move {
    margin-top: 80px;
  }
  section#drop #infoList {
    flex-flow: column;
  }
}
@media (max-width: 350px) {
  section#drop #dropList,
  section#move #moveList,
  section#ability #abilityList {
    grid-template-columns: repeat(auto-fit, minmax(120px, auto));
  }
  section#drop #dropList li,
  section#move #moveList li,
  section#ability #abilityList li {
    height: auto;
  }
  section#drop #dropList li a,
  section#move #moveList li a,
  section#ability #abilityList li a {
    flex-flow: column;
  }
}
