@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
:root {
  /* === Colors === */
  --border-color-header1: #4dad5b;
  --border-color-header2: #e6bc2f;
  --border-color-header3: #ee6b2f;
  --border-color-header4: #e3350d;

  --text-color: #000;
  --black-light-color: #707070;
  --dark-red: #e3350d;
  --white-color: #ffffff;
  /* type Colors */
  --rock: rgb(182, 158, 49);
  --ghost: rgb(112, 85, 155);
  --steel: rgb(183, 185, 208);
  --water: rgb(100, 147, 235);
  --grass: rgb(76, 203, 72); /* Era 116, 203, 72 */
  --psychic: rgba(251, 85, 132);
  --ice: rgba(154, 214, 223);
  --dark: rgba(117, 87, 76);
  --fairy: rgba(230, 158, 172);
  --normal: rgba(170, 166, 127);
  --fighting: rgba(193, 34, 57);
  --flying: rgba(168, 145, 236);
  --poison: rgba(164, 62, 158);
  --ground: rgba(222, 193, 107);
  --bug: rgba(167, 183, 35);
  --fire: rgba(245, 125, 49);
  --electric: rgba(249, 207, 48);
  --dragon: rgba(112, 55, 255);
  /* Rarity Colors */
  --legendary: rgb(228, 228, 22);
  --veryRare: rgb(58, 141, 2);
  --rare: rgb(69, 207, 35);
  --uncommon: rgb(2, 100, 192);
  --common: rgb(95, 152, 206);
}
body {
  min-height: 100vh;
  width: 100%;
  background: url(../img/body_background.png);
  overflow-x: hidden;
}
