h2,
li,
span,
p {
  font-weight: 600;
}
body {
  min-height: 0;
}
section#ability {
  margin: 140px auto 60px;
  background: var(--principal-color);
  width: 90%;
  border-radius: 25px;
  padding: 10px;
  overflow: hidden;
}
section#ability h2 {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  font-size: 32px;
  line-height: 60px;
}
section#ability #infoList {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  width: 100%;
}
section#ability #abilityDescription {
  width: 100%;
  text-align: center;
  padding: 20px;
  font-size: 16px;
  border-radius: 20px;
  background: white;
  color: black;
  margin-bottom: 10px;
}
section#ability #abilityListTitle {
  display: block;
  width: 100%;
  font-size: 23px;
  text-align: center;
  line-height: 40px;
  margin-bottom: 10px;
}
section#ability #abilityListTitle span {
  white-space: nowrap;
}
section#ability #abilityList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 5px;
  padding: 20px;
  border-radius: 20px;
  background: white;
}
section#ability #abilityList li {
  height: 100px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  transition: 0.5s ease;
  cursor: pointer;
}
section#ability #abilityList li:hover {
  filter: brightness(0.9);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}
section#ability #abilityList li a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
section#ability #abilityList li img {
  width: 100px;
}
