h2,
li,
span,
p {
  font-weight: 600;
}
section#move {
  margin: 140px auto 60px;
  background: white;
  width: 90%;
  min-height: 100vh;
  border-radius: 25px;
  border: 5px solid rgba(var(--principal-color));
  overflow: hidden;
}
section#move h2 {
  width: 100%;
  color: white;
  background: rgba(var(--principal-color));
  text-align: center;
  text-transform: capitalize;
  font-size: 32px;
  line-height: 60px;
}
section#move #infoList {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  width: 100%;
}
section#move #infoList img {
  width: 200px;
  height: 200px;
  padding: 5px;
  border-radius: 50%;
  background: rgba(var(--principal-color));
}
section#move #infoList ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, auto));
  width: calc(100% - 220px);
  gap: 10px;
}
section#move #infoList ul li {
  padding: 5px 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(var(--principal-color));
  color: white;
}
section#move #infoList ul li span {
  color: rgba(var(--principal-color));
  text-align: center;
  background: white;
  border-radius: 5px;
  padding: 5px 10px;
  min-width: 100px;
}
section#move #moveDescription {
  color: black;
}
section#move #moveDescription,
section#move #effects {
  width: 100%;
  text-align: center;
  padding: 20px;
  font-size: 16px;
}
section#move #effects {
  color: rgba(var(--principal-color));
}
section#move #moveListTitle {
  display: block;
  width: 100%;
  font-size: 23px;
  text-align: center;
  color: white;
  background: rgba(var(--principal-color));
  line-height: 40px;
}
section#move #moveListTitle span {
  white-space: nowrap;
}
section#move #moveList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 5px;
  padding: 20px;
}
section#move #moveList li {
  height: 100px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  transition: 0.5s ease;
  cursor: pointer;
}
section#move #moveList li:hover {
  filter: brightness(0.9);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}
section#move #moveList li a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  color: white;
}
section#move #moveList li img {
  width: 100px;
}
