section {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 140px auto 40px;
  padding: 25px 50px;
  gap: 20px;
  width: 95%;
  min-height: 100vh;
  border-radius: 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.6);
  background: white;
}
section div.table-container.table-container {
  position: relative;
  width: 100%;
  padding: 50px 0 0 50px;
}
section table {
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
}
table tr {
  width: 100%;
}
table tr th:first-child {
  border: none;
}
.vertical {
  writing-mode: vertical-rl;
}
table tr th {
  padding: 5px;
  color: white;
  text-shadow: black 1px -1px, black -1px 1px, black 1px 1px, black -1px -1px;
  text-transform: capitalize;
  border-radius: 0 0 2px 2px;
}
table tr td:first-child {
  padding: 0 10px;
  color: white;
  text-shadow: black 1px -1px, black -1px 1px, black 1px 1px, black -1px -1px;
  border-radius: 0 2px 2px 0;
  text-transform: capitalize;
}
table tr td {
  width: calc(100% / 19);
  text-align: center;
  background: white;
  border-radius: 2px;
}
div.table-container span.top-table-title,
div.table-container span.left-table-title {
  position: absolute;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: #2196fe;
  color: white;
  text-shadow: black 1px -1px, black -1px 1px, black 1px 1px, black -1px -1px;
}
div.table-container span.top-table-title {
  top: 0;
  right: 0;
  height: 50px;
}
div.table-container span.left-table-title {
  bottom: 0;
  left: 0;
  width: 50px;
  writing-mode: vertical-lr;
  rotate: 180deg;
}
div.table-container span#weaknessTopTitle {
  width: var(--weakness-left-table-height);
}
div.table-container span#weaknessLeftTitle {
  height: var(--weakness-top-table-width);
}
div.table-container span#natureTopTitle {
  width: var(--nature-left-table-height);
}
div.table-container span#natureLeftTitle {
  height: var(--nature-top-table-width);
}
